/* RESET */

* {
    box-sizing: border-box ;
}

body {
    margin:0;
}

h1, h2, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}


img {
    display: block;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
} 

.img__error{
    width: 100%;
    height: 24em;
    background-image: url(./components/img/error.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: azure;
}

.img_loading{
    width: 100%;
    height: 2em;
    background-image: url(./components/img/barra-de-carga.png);
   
}
